<!-- <nav class="navbar-expand-md navbar fixed-top sm-5 bg-light navbar-light">

    <a href="#" class="navbar-brand">
        <img src="../assets/images/Logo.png" class="brand-logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="my-nav">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link"  (click)="showLogin()">Login</a>
            </li>
            routerLink="login"

            <li class="nav-item">
                <button (cli)><a class="nav-link" routerLink="register">Register</a></button>
                <a class="nav-link" routerLink="register">Register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#contact-us">ContactUs</a>
            </li>
        </ul>
    </div>
</nav> -->


<div class="achieved">
    <div class="container text-white">
        <!-- achievements -->
        <div class="row justify-content-between">
            <div>
                <p>25,000+<br>
                    Verified Cars</p>
            </div>
            <div>
                <p>20,000+<br>
                    Trusted Hosts</p>
            </div>
            <div>
                <p>2 Billion+<br>
                    KMs Driven</p>
            </div>
            <div>
                <p>38+ Cities<br>
                    And Counting...</p>
            </div>

            <div>
                <p>20+ Airports<br>
                    Live On Zoomcar platform</p>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #f5f5f5;">
    <div class="host-share-earn-steps">
        <div class="container how-to-book">
            <div class="row justify-content-center ">
                <p>HOW TO BOOK RENTAL CARS IN CHENNAI WITH ZOOMCAR?</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between ">

            <div class="col-lg-3">
                <img src="../assets/images/how-to-book/download.png" class="how-to-book-img ">
                <p class="content-title row text-align-center">
                    Log onto <span class="text-primary"> zoomcar.com</span>
                </p>
            </div>

            <div class="col-lg-3">
                <img src="../assets/images/how-to-book/time-location-select.png" class="how-to-book-img">
                <p class="content-title row text-align-center">
                    Select city, date and time
                </p>
            </div>

            <div class="col-lg-3">
                <img src="../assets/images/how-to-book/deposit.png" class="how-to-book-img">
                <p class="content-title row text-align-center">
                    Pick a car of your choice at 0<br>
                    security deposit
                </p>
            </div>

            <div class="col-lg-3">
                <img src="../assets/images/how-to-book/zoomaway.png" class="how-to-book-img">
                <p class="content-title row text-align-center">
                    Zoomaway with the freedom <br>
                    of unlimited KMs
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="mt-5 col-lg-3">
            <h2 class="host-car-sharing-benefits-title">
                Why Choose<br> Zoomcar Self<br> Drive Cars in<br> Chennai?
            </h2>
        </div>
        <div class="p-3 mt-2 col-lg-3 pt-5">
            <img src="../assets/images/why/repair.svg" alt="repair"
                class="host-car-sharing-benefits-blocks-block-title ">
            <h3>Accessible</h3>
            <small class="host-car-sharing-benefits-blocks-block-description  pt-2">There’s always a Zoomcar near
                you</small>
        </div>
        <div class="p-3 mt-2 col-lg-3 pt-5">
            <img src="../assets/images/why/earning.svg" alt="repair"
                class="host-car-sharing-benefits-blocks-block-title ">
            <h3>Secure</h3>
            <small class="host-car-sharing-benefits-blocks-block-description  pt-2">Pay 0 security deposit, get
                unlimited KMs</small>
        </div>
        <div class="p-3 mt-2 col-lg-3 pt-5">
            <img src="../assets/images/why/flexibility.svg" alt="repair"
                class="host-car-sharing-benefits-blocks-block-title ">
            <h3>Convenient</h3>
            <small class="host-car-sharing-benefits-blocks-block-description  pt-2">From Hatchbacks to SUVs, choose from
                25,000+ cars</small>
        </div>
    </div>
</div>
<div class="container pt-5">
    <h6 class="row justify-content-center">HEAR FROM OUR GUESTS</h6>
</div>
<div class="container pt-4">
    <div class="row">
        <div class="card ml-5 rounded col-lg-3" style="width: 25rem; height: 25rem;">
            <img class="card-img-top" src="../assets/images/testinimials/guest_one.webp" alt="GuestOne">
            <div class="card-body bg-light pt-5">
                <p class="card-text">Flattered with availability of well maintained cars</p>
            </div>
        </div>
        <div class="card ml-5 rounded col-lg-3" style="width: 25rem; height: 25rem;">
            <img class="card-img-top" src="../assets/images/testinimials/guest_two.webp" alt="GuestOne">
            <div class="card-body bg-light pt-5">
                <p class="card-text">Booked a XUV with unlimited kms, very happy with Zoomcar's service</p>
            </div>
        </div>
        <div class="card ml-5 rounded col-lg-3" style="width: 25rem; height: 25rem;">
            <img class="card-img-top" src="../assets/images/testinimials/guest_three.webp" alt="GuestOne">
            <div class="card-body bg-light pt-5">
                <p class="card-text">Booked a car for a family trip which was very comfortable and in great condition</p>
            </div>
        </div>
    </div>
</div>