<div class="bg-secondary h-50 footer">
    <div class="container ">
        <div class="row justify-content-between">
            <div class="footer-text pt-3">
                Never<br>
                Stop<br>
                Living.
            </div>

            <div>
                <div class="row pl-5 mt-2">
                    <div>
                        <img src="../assets/images/Footer/Qr.png" alt="MobileDownload" class="Qr">
                        <p class="text-center text-white">Scan this QR code to<br> download app.</p>
                    </div>
                    <div class="pl-3 col-md">
                        <h3 class="footer-text-Qr-descr text-white">DOWNLOAD ZOOMCAR APP</h3>
                        <h5 class="pt-5 footer-text-Qr-desc">We have incredible offers, discounts &<br> much more in our
                            app.</h5>
                        <div class="pt-3">
                            <img src="../assets/images/Footer/google-download.png" alt="google-download"
                                class="pl-2 download bg-secondary pt-4">
                            <img src="../assets/images/Footer/appstore-download.png" alt="google-download"
                                class="pl-2 download pt-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div>
            <div><i class="fa fa-facebook-official" aria-hidden="true"></i></div>
        </div>
    </div>
</div>